.about {
  padding-top: 50px;
  padding-bottom: 50px;

  @include media-desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about__container {
  display: flex;
  flex-direction: column;

  @include media-desktop {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 60px;
  }
}

.about__wrapp1 {
  @include media-tablet {
    margin-right: 40px;

    @include media-desktop {
      margin-right: 0;
      width: 702px;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}

.about__wrapp2 {
  @include media-tablet {
    margin-right: 180px;

    @include media-desktop {
      margin-right: 0;
    }
  }
}

.about__title {
  margin-bottom: 15px;

  @include media-tablet {
    margin-bottom: 30px;
  }
}

.about__subtitle {
  margin-top: 40px;
  margin-bottom: 20px;

  @include media-tablet {
    margin-bottom: 30px;
  }

  @include media-desktop {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.about__button {
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: $color-bg-light;

  @include media-tablet {
    margin-top: 40px;
  }

  @include media-desktop {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.about__list {
  @include list-reset;
  padding: 20px 20px 40px 0;
  background-color: $color-accent;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 0;

  @include media-tablet {
    padding: 50px;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
  }

  @include media-desktop {
    padding: 50px 100px;
  }
}

.about__item {
  box-sizing: border-box;
  margin-top: 22px;
  margin-left: 20px;
  padding: 16px 21px;
  border: 1px solid $color-white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;

  @include media-tablet {
    width: 273px;
    margin-top: 0;
    margin-left: 0;
  }

  @include media-desktop {
    width: 484px;
    margin-top: 22px;
    margin-left: 20px;
    flex-direction: row;
    padding: 51px 41px;
  }
}

.about__title-property {
  margin-bottom: 15px;

  @include media-desktop {
    width: 201px;
    flex-shrink: 0;
  }
}