.button-arrow {
  padding: 0;
  @include btn-circle ($width: 22px, $height: 22px, $background-color: transparent);
  cursor: pointer;
  transition: all 0.3s;

  &:after {
    @include btn-icon ($background-color: $color-accent, $mask-image: url('../../__spritemap#sprite-arrow-view'));
  }

  &--left {
    transform: rotate(180deg);
  }

  &:not(:disabled):focus {
    background-color: $color-white;
  }

  &:not(:disabled):hover {
    &:after {
      background-color: $color-accent-70;
    }
  }

  &:not(:disabled):active {
    background-color: $color-white;

    &:after {
      background-color: $color-accent-70;
    }
  }

  &:disabled {
    cursor: default;

    &:after {
      background-color: $color-disabled;
    }
  }
}