.button-arrow {
  display: block;
  width: 22px;
  height: 22px;

  border: none;
  background-color: $color-accent;

  mask-position: center;
  mask-size: 10px 10px;
  mask-repeat: no-repeat;
  mask-image: url('../../__spritemap#sprite-arrow-view');

  &--left {
  transform: rotate(180deg);  
  }
}