.button-plus {
  // display: block;
  flex-shrink: 0;

  @include btn-circle ($width: 40px, $height: 40px, $border: 1px solid $color-accent);

  &:after {
    @include btn-icon ($width: 20px, $height: 20px,
      $mask-image: url('../../__spritemap#sprite-plus-view'));
  }
}

.button-plus--open {
    background-color: $color-white;

    &:after {
      background-color: $color-accent;
    }
  }