.contacts {
  padding-top: 76px; // должно быть 70!!!
  padding-bottom: 70px;
  background-color: $color-accent;

  @include media-tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include media-desktop {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.contacts__wrapp {
  border-bottom: 2px solid $color-line ;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  @include media-desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.contacts__title {
  color: $color-white;
  margin-bottom: 35px; // должно быть 30!!!

  @include media-tablet {
    margin-bottom: 31px;
  }
}

.contacts__list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include media-tablet {
    margin-top: 1px;
    flex-direction: row;
    gap: 21px;
  }

  @include media-desktop {
    gap: 55px;
    align-items: flex-start;
  }

}

.contacts__data {
  margin-bottom: 13px; // должно быть 15!!!

  @include media-tablet {
    margin-bottom: 23px;
  }
}

.contacts__property {
  color: $color-white;
  // margin-bottom: 20px;
  margin-left: 0;

  text-decoration: none;

  .contacts__br {
    @include media-tablet {
      display: none;
    }

    @include media-desktop {
      display: block;
    }
  }
}

.contacts__map {
  display: block;
  width: 290px;
  height: 240px;
  object-fit: cover;
  border-radius: 16px;

  @include media-tablet {
    width: 678px;
    height: 500px;
  }

  @include media-desktop {
    width: 1240px;
    height: 486px;
  }
}