.faq {
  padding-top: 51px;
  padding-bottom: 50px;

  @include media-tablet {
    padding-top: 50px;
  }

  @include media-desktop {
    padding-top: 71px;
    padding-bottom: 60px;
  }
}

.faq__container {
  @include media-desktop {
    box-sizing: border-box;
    width: 1028px;
    margin: 0 auto;
  }
}

.faq__title {
  text-align: center;
  margin-bottom: 29px;

  @include media-tablet {
    margin-bottom: 40px;
  }

  @include media-desktop {
    margin-bottom: 71px;
  }
}

.faq__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq__wrapper {
  box-sizing: border-box;
  border: 2px solid $color-accent;
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.3s;

  padding-bottom: 20px;

  @include media-tablet {
    border-radius: 16px;
    padding-bottom: 30px;
  }

  @include media-desktop {
    padding-bottom: 40px;
  }
}

.faq__question::-webkit-details-marker {
  display: none;
}

.faq__question,
.faq__question.is_close {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 20px;

  padding: 20px 15px;
  padding-bottom: 0;

  transition: all 0.3s;

  @include media-tablet {
    padding: 30px;
    padding-bottom: 0;

    &--padding-right {
      gap: 126px;
      align-items: flex-start;
    }

    &--start {
      align-items: flex-start;
    }
  }

  @include media-desktop {
    padding: 40px;
    padding-bottom: 0;

    &--padding-right {
      gap: 20px;
    }
  }
}

.faq__question:focus,
.faq__question:focus-visible {
  outline: none;
}

.faq__wrapper:focus-within,
.faq__wrapper:has(.faq__question:hover) {
  background-color: $color-white;

  .button-plus {
    background-color: $color-white;
  }

  .button-plus::after {
    background-color: $color-accent;
  }
}

.faq__wrapper:has(.faq__question:active) {
  .faq__question {
    color: $color-active;
  }

  .button-plus {
    background-color: $color-active;
    border-color: $color-active;
  }

  .button-plus::after {
    background-color: $color-white;
  }
}

.faq__wrapper[open],
.faq__wrapper[open] .faq__question {
  background-color: $color-accent;
  transition: all 0.3s;
  color: $color-white;

  // padding-bottom: 0;

  .button-plus {
    background-color: $color-white;
    border-color: $color-accent;
  }

  .button-plus::after {
    @include btn-icon(
      $width: 20px,
      $height: 20px,
      $background-color: $color-accent,
      $mask-image: url("../__spritemap#sprite-minus-view")
    );
  }
}

.faq__wrapper[open]:focus-within,
.faq__wrapper[open]:has(.faq__question:hover) {
  background-color: $color-accent;

  .button-plus {
    background-color: $color-accent;
    border-color: $color-white;
  }

  .button-plus::after {
    background-color: $color-white;
  }
}

.faq__wrapper[open] .faq__question:active,
.faq__wrapper[open]:has(.faq__question:active) {
  background-color: $color-active;
  color: $color-white;

  .button-plus {
    background-color: $color-white;
    border-color: $color-active;
  }

  .button-plus::after {
    background-color: $color-active;
  }
}

.faq__content {
  p {
    @include font($size: 14px, $line-height: 20px);

    padding: 20px 15px;
    padding-bottom: 0;

    @include media-tablet {
      font-size: 16px;
      padding: 20px 52px 0 30px;
    }

    @include media-desktop {
      line-height: 26px;
      padding: 20px 70px 0 40px;
    }
  }
}

.faq__wrapper[open] .faq__content p {
  color: $color-bg-light;
}

// ++++++++++++++++++++++?
// анимация

.faq__answer {
  .js-details.is-close & {
    max-height: 0;
    overflow: hidden;
    animation: slide-up 0.3s;
  }

  .js-details.is-open & {
    max-height: var(--details-height);
    animation: slide-down 0.3s;
  }
}

@keyframes slide-up {
  0% {
    max-height: var(--details-height);
    opacity: 1;
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: var(--details-height);
    opacity: 1;
  }
}
