.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__container {
  display: grid;

  grid-template-areas:
    'logo'
    'nav'
    'conf'
    'copy'
    'social'

  ;

  @include media-tablet {
    // grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'logo nav'
      'conf social'
      'copy social'
    ;
  }

  @include media-desktop {
    // grid-template-columns: 1fr 1fr;

    grid-template-areas:
      'logo nav social'
      'copy . conf'
    ;
  }
}

.footer__nav {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__link-nav {
  text-decoration: none;
}

.footer__logo {
  grid-area: logo;
  margin: 0 auto 20px;
}

.footer__conf {
  grid-area: conf;

  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.footer_copy {
  grid-area: copy;

  margin-bottom: 15px;
  text-align: center;
}

.footer__social {
  grid-area: social;

  @include list-reset;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: $color-accent;

  &::after {
    content: '';
    width: 12px;
    height: 17px;
    background-color: $color-white;

    mask-position: center;
    mask-size: auto;
    mask-repeat: no-repeat;

  }

  &--vk {
    &::after {

      mask-image: url("../__spritemap#sprite-vk-view");
    }
  }

  &--ok {
    &::after {

      mask-image: url("../__spritemap#sprite-ok-view");
    }
  }

  &--reddit {
    &::after {

      mask-image: url("../__spritemap#sprite-reddit-view");
    }
  }
}