.form {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  gap: 21px;
  align-items: stretch;

  @include media-tablet {
    gap: 20px;
  }
}

.form__label {
  display: block;
  cursor: pointer;

  &--right {
    padding-right: 10px;

    @include media-tablet {
      padding-right: 0;
    }
  }
}

.form__text-field {
  display: block;
  margin-bottom: 11px;


  @include media-tablet {
    margin-bottom: 12px;
  }

  &--city {
    margin-top: -4px;

    @include media-desktop {
      margin-top: -8px;
      margin-bottom: 8px;
    }
  }
}

.form__field {
  box-sizing: border-box;
  height: 50px;
  border: 1px solid $color-field-line;
  border-radius: 8px;
  padding: 16px 16px 16px 25px;

  width: 100%;

  &--textarea {
    height: 94px;
    resize: none;

    @include media-tablet {
      height: 88px;
    }

    @include media-desktop {
      height: 90px;
    }
  }

   &--city {
    box-sizing: border-box;
    padding-right: 40px;
    height: 52px;
    appearance: none;
    background-position: center right 21px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    // background-color: $color-white;
   }
  
  &:disabled {
    border-color: $color-white-40;
    background-color: $color-white-20;
  }

  // :not(:placeholder-shown)
  &:not(:placeholder-shown):invalid {
    border-color: $color-error;
    background-color: $color-error-20;
  }
}

.form__label-check {
  display: flex;
  gap: 11px;
  cursor: pointer;

  @include media-tablet {
    gap: 10px;
    margin-bottom: 22px;
    align-items: center;
  }
}

.form__text-approval {

  @include media-tablet {
    line-height: 12px;
    margin-top: 1px;
  }

  .form__br {
    @include media-tablet {
      display: none;
    }
  }
}

.form__mark {
  box-sizing: border-box;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    mask-position: center;
    mask-size: auto;
    mask-repeat: no-repeat;
    background-color: transparent;
    mask-image: url("../__spritemap#sprite-check-view");
  }

  @include media-tablet {
    margin-top: 0;
  }
}

// .form__check[type="checkbox"]:checked+.form__mark {
//   background-color: $color-white;
// }

// .form__check[type="checkbox"]:checked+.form__mark::before {
//   background-color: $color-accent;
// }

// .form__check:not(:disabled):focus+.form__mark,
// .form__check:not(:disabled):hover+.form__mark {
//   border: 1px solid $color-white;
//   cursor: pointer;
// }

// .form__check[type="checkbox"]:checked:not(:disabled):focus+.form__mark,
// .form__check[type="checkbox"]:checked:not(:disabled):hover+.form__mark {
//   border: 1px solid $color-white;
//   background-color: transparent;
// }

// .form__check[type="checkbox"]:checked:not(:disabled):focus+.form__mark::before,
// .form__check[type="checkbox"]:checked:not(:disabled):hover+.form__mark::before {
//   background-color: $color-white;
// }

// .form__check:disabled+.form__mark {
//   background-color: $color-white-60;
// }

// .form__check[type="checkbox"]:disabled+.form__mark {
//   background-color: $color-disabled;
// }

// .form__check[type="checkbox"]:checked:disabled+.form__mark::before {
//   background-color: $color-white;
// }

// .form__check:invalid+.form__mark {
//   border: 1px solid $color-error;
//   background-color: $color-error-20;
// }

.form_button {
  box-sizing: border-box;
  width: fit-content;
  color: $color-white;
  width: 260px;
  margin-top: -2px;
  justify-content: start;

  .text-button {
    flex-grow: 1;
  }

  @include media-tablet {
    width: 352px;
  }
}