.form {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $color-bg-light;

  // background-color: red;

  @include media-tablet {
    padding: 50px 58px;
  }

  @include media-desktop {
    padding: 60px 100px;
  }
}

.form__background {
  box-sizing: border-box;
  padding: 43px 10px 40px 10px;
  // width: auto;
  // height: 753px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../img/tmp/bg-form.png);

  @include media-tablet {
    padding: 0 210px 0 0;
    border-radius: 16px;
  }

  @include media-desktop {
    padding: 0 750px 0 0;

  }
}

.form__container {
  padding: 15px 15px 27px 15px;

  background-color: $color-accent;
  border-radius: 16px;

  @include media-tablet {
    padding: 41px 40px 36px 40px;
  }

  @include media-desktop {
    padding: 44px 70px 40px 70px;
  }
}

.form__form {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  gap: 21px;
  align-items: stretch;

  @include media-tablet {
    gap: 20px;
  }
}

.form__title {
  color: $color-white;
  margin-bottom: 10px;

  @include media-tablet {
    margin-bottom: 31px;
  }

  @include media-desktop {
    margin-bottom: 34px;

  }
}

.form__text {
  color: $color-white;
  margin-bottom: 21px;

  @include media-tablet {
    margin-bottom: 40px;
  }
}

.form__label {
  display: block;

  &--right {
    padding-right: 10px;

    @include media-tablet {
      padding-right: 0;
    }
  }
}

.form__text-field {
  display: block;
  color: $color-white-80;
  margin-bottom: 11px;


  @include media-tablet {
    margin-bottom: 12px;
  }
  
  &--city {
    margin-top: -4px;

    @include media-desktop {
      margin-top: -8px;
  margin-bottom: 8px;

    }
  }

}

.form__field {
  box-sizing: border-box;
  min-height: 50px;
  border: 1px solid $color-field-line;
  border-radius: 8px;

  background-color: transparent;
  width: 100%;

  &--textarea {
    height: 94px;

    @include media-tablet {
      height: 88px;
    }

    @include media-desktop {
      height: 90px;

    }
  }
}

.form__select {
  box-sizing: border-box;
  // иконка с уголком
  // margin-right: 10px;

  height: 52px;
}

.form__label-check {
  display: flex;
  gap: 11px;
  // align-items: center;

  @include media-tablet {
    gap: 10px;
    margin-bottom: 22px;
    align-items: center;

  }
}

.form__text-approval {
  color: $color-white;

  @include media-tablet {
    margin-top: 1px;
  }

  .form__br {
    @include media-tablet {
      display: none;
    }
  }
}

.form__check {
  display: none;
}

.form__checkbox {
  margin-top: 10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;
  background-color: $color-white;

  @include media-tablet {
    margin-top: 0;
  }
}

.form_button {
  box-sizing: border-box;
  width: fit-content;
  color: $color-white;
  width: 260px;

  margin-top: -2px;

  justify-content: start;

  .text-button {
    flex-grow: 1;
  }

  @include media-tablet {
    width: 352px;
  }
}