.grant {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $color-accent;

  @include media-tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include media-desktop {
    padding-top: 120px;
    padding-bottom: 120px;
  }

}

.grant__container {
  display: flex;
  flex-direction: column;

  @include media-desktop {
    flex-direction: row;
    gap: 138px;
  }

}

.grant__title {
  margin-bottom: 15px;

  @include media-tablet {
    margin-bottom: 30px;
  }
}

.grant__text {
  margin-bottom: 30px;

  @include media-tablet {
    margin-bottom: 40px;
  }
}

.grant__img {
  display: block;
  width: 290px;
  height: 200px;
  border-radius: 16px;
  margin-bottom: 30px;

  @include media-tablet {
    margin-bottom: 40px;
    width: 678px;
    height: 375px;
  }

  @include media-desktop {
    margin-bottom: 40px;
    width: 498px;
    height: 363px;
  }
}

.grant__subtitle {
  margin-bottom: 15px;

  @include media-tablet {
    margin-bottom: 20px;

    @include media-desktop {
      margin-bottom: 30px;
    }
  }
}

.grant__list {
  counter-reset: myCounter;

  color: $color-white;
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;

  @include media-tablet {
    margin-top: 0;
    flex-direction: row;
    gap: 10px 28px;
    flex-wrap: wrap;
  }

  @include media-desktop {
    width: 498px;
  }
}

.grant__item {
  position: relative;
  box-sizing: border-box;
  margin-left: 15px;
  padding: 25px 26px;
  border: 1px solid $color-white;
  border-radius: 16px;

  &::after {
    position: absolute;
    top: -6px;
    left: -6px;

    counter-increment: myCounter;
  content: counter(myCounter);

    // content: '';
    display: block;
    width: 42px;
    height: 42px;
    background-color: $color-accent;
   font-size: 22px;
   line-height: 22px;
   font-weight: 500;
  }

  @include media-tablet {
    padding: 31px 50px 31px 26px;

    margin-left: 0;
    margin-top: 15px;
    width: 325px;
  }

  @include media-desktop {
    width: 100%;
  }
}