.header {
  position: relative;
}

.header__header {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 21px;
  padding-bottom: 4px;
}

.header__wrapp {
  display: flex;
  justify-content: space-between;

}