.header {
  position: relative;
 

  // @include media-desktop {
  //   min-height: 568px;

  // }

}

.header__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 21px;
  padding-bottom: 4px;

  @include media-tablet {
    padding-top: 30px;
    }
}

.header__wrapp {
  display: flex;
  justify-content: space-between;
}