.hero {
  width: 100%;
  height: 100%;
}

.hero__list {
  @include list-reset;
}

.hero__item {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 320px;
  min-height: 568px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &--slid1 {
    background-image: url('../../img/tmp/bg-hero1.png');
  }

  @include media-tablet {
    padding-bottom: 60px;
    min-height: 1024px;
  }

  @include media-desktop {
    min-height: 800px;
  }

}

.hero__card {
  background-color: $color-white;
  padding: 20px 14px 10px 15px;
  border-radius: 18px;

}

.hero__title {
  margin-bottom: 16px;

  @include media-tablet {
    margin-bottom: 24px;
  }
}


.hero__wrapp {
  display: flex;
  flex-direction: column;

  @include media-tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}

.hero__text {
  margin-bottom: 15px;
}