.modal {
  position: absolute;
  z-index: 17;
  left: 50%;
  transform: translate(-50%);
  top: 15px;

  box-sizing: border-box;
  width: 290px;
  padding: 20px 15px 40px;
  background-color: $color-white;
  border-radius: 16px;
  flex-direction: column;
  display: none;

  @include media-tablet {
    width: 510px;
    padding: 30px 30px 60px 80px;
    top: 204px;
  }

  @include media-desktop {
    top: 90px;
  }
}

.modal--open {
  display: flex;
}

.modal__btn-close {
  @include btn-reset;

  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 4px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    @include btn-icon($width: 16px, $height: 16px, $background-color: $color-accent, $mask-image: url("../../__spritemap#sprite-cross-view"));

    content: "";
    width: 16px;
    height: 16px;
  }

  @include media-tablet {
    margin-right: 0;
    margin-bottom: 8px;
    width: 22px;
    height: 22px;
  }

  &:focus {
    background-color: $color-overlay;
  }

  &:hover {
    background-color: $color-accent;

    &::after {
      background-color: $color-white;
    }
  }

  &:active {
    background-color: $color-active;

    &::after {
      background-color: $color-white;
    }
  }
}

.modal__title {
  @include font ($size: 18px, $line-height: 100%, $color: $color-accent);

  margin: 0 20px 15px;
  text-align: center;

  @include media-tablet {
    margin-bottom: 20px;
  }
}

.modal__text {
  @include font ($size: 14px, $line-height: 20px);

  margin: 0 20px 25px;
  text-align: center;

  @include media-tablet {
    margin-bottom: 30px;
    margin-right: 50px;
  }

  @include media-desktop {
    line-height: 26px;
  }
}

.modal__form {
  gap: 15px;

  @include media-tablet {
    margin-right: 50px;
    gap: 20px;
  }
}

.modal__field {
  border-color: $color-text-base-30;
  background-color: transparent;

  color: $color-text-base;

  &:not(:disabled):focus,
  &:not(:disabled):hover,
  &:not(:disabled):active {
    border-color: $color-text-base;
    outline: none;
  }

  &:disabled {
    border-color: $color-disabled-50;
    background-color: $color-disabled-20;
  }

  &--city {
    background-image: url("../__spritemap#sprite-select-modal-view");
  }
}

.modal__check {
  @include media-tablet {
    margin-bottom: 10px;
  }
}

.modal__mark {
  border: 1px solid $color-accent-50;
  background-color: $color-white;
}

.modal__check[type="checkbox"]:checked + .modal__mark {
  background-color: $color-accent;
  border-radius: $color-accent;
}

.modal__check[type="checkbox"]:checked + .modal__mark::before {
  background-color: $color-white;
}

.modal__check:not(:disabled):focus + .modal__mark,
.modal__check:not(:disabled):hover + .modal__mark {
  border: 1px solid $color-accent;
  cursor: pointer;
}

.modal__check[type="checkbox"]:checked:not(:disabled):focus + .modal__mark,
.modal__check[type="checkbox"]:checked:not(:disabled):hover + .modal__mark {
  border: 1px solid $color-accent;
  background-color: transparent;
}

.modal__check[type="checkbox"]:checked:not(:disabled):focus + .modal__mark::before,
.modal__check[type="checkbox"]:checked:not(:disabled):hover + .modal__mark::before {
  background-color: $color-accent;
}

.modal__check:disabled + .modal__mark {
  background-color: $color-disabled;
  border-color: $color-disabled;
}

.modal__check[type="checkbox"]:disabled + .modal__mark {
  background-color: $color-disabled;
  border-color: $color-disabled;
}

.modal__check[type="checkbox"]:checked:disabled + .modal__mark::before {
  background-color: $color-white;
}

.modal__check:invalid + .modal__mark {
  border: 1px solid $color-error;
  background-color: $color-error-20;
}

.modal__approval {
  @include font ($size: 12px, $line-height: 14px);

  color: $color-text-base;
}

.modal__button {
  @include media-tablet {
    width: 194px;
    margin: 0 auto;
  }

  @include media-desktop {
    width: 196px;
  }
}
