.programs {
  padding-top: 56px; // должно быть 50!!!
  padding-bottom: 50px;

  @include media-tablet {
    padding-top: 53px; // должно быть 50!!!
    padding-bottom: 72px; // должно быть 50!!! - временно, пока с кнотками не разбирусь

  }

  @include media-desktop {
    padding-top: 65px; // должно быть 60!!!
    padding-bottom: 82px; // пока не сделаю погинацию!!!
  }
}

.programs_grid {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 62px;

  gap: 32px 0;
  align-items: center;

  grid-template-areas:
    'title arrows'
    'slider slider'
    'button button'
  ;

  @include media-tablet {
    width: 768px;

    grid-template-columns: 1fr 138px 116px;

    grid-template-areas:
      'title  button button'
      'slider slider slider'
      'pagin pagin arrows'
    ;

    gap: 40px 0;
  }

  @include media-desktop {
    width: 1440px;
    // grid-template-columns:1fr 1fr 1fr;

  }
}

.programs__title {
  grid-area: title;
  // width: 238px;
  // justify-self: start;
  margin-right: auto;
}

.programs__arrows {
  grid-area: arrows;
  justify-self: end;

}

.programs__pagination {
  display: none;

  @include media-tablet {
    grid-area: pagin;
    display: block;

  }
}

.programs__button {
  grid-area: button;
  justify-self: start;
  background-color: $color-bg-light;
  gap: 30px;

  @include media-tablet {
    justify-self: end;
  }
}

.programs__list {
  @include list-reset;

  grid-area: slider;
  display: flex;
  gap: 15px;


  @include media-tablet {
    gap: 30px;
  }

  @include media-desktop {
    gap: 32px;
  }
}

.programs__item {
  position: relative;
  box-sizing: border-box;
  min-height: 400px;
  width: 290px;

  padding: 10px 10px 18px 10px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;

  border-radius: 12px;
  // background-position: center;
  // background-position: unset;

  background-size: cover;
  background-repeat: no-repeat;

  &--slid1 {

    background-image:

      image-set(url("../../img/program1_mob_1x.webp") 1x type("image/webp"),
        url("../../img/program1_mob_1x.jpg") 1x,
        url("../../img/program1_mob_2x.webp") 2x type("image/webp"),
        url("../../img/program1_mob_2x.jpg") 2x);

    @include media-desktop {
      background-image:
        image-set(url("../../img/program1_desktop_1x.webp") 1x type("image/webp"),
          url("../../img/program1_desktop_1x.jpg") 1x,
          url("../../img/program1_desktop_2x.webp") 2x type("image/webp"),
          url("../../img/program1_desktop_2x.jpg") 2x);
    }
  }

  &--slid2 {
    background-image:
      image-set(url("../../img/program2_mob_1x.webp") 1x type("image/webp"),
        url("../../img/program2_mob_1x.jpg") 1x,
        url("../../img/program2_mob_2x.webp") 2x type("image/webp"),
        url("../../img/program2_mob_2x.jpg") 2x);

    @include media-desktop {
      background-image:
        image-set(url("../../img/program2_desktop_1x.webp") 1x type("image/webp"),
          url("../../img/program2_desktop_1x.jpg") 1x,
          url("../../img/program2_desktop_2x.webp") 2x type("image/webp"),
          url("../../img/program2_desktop_2x.jpg") 2x);
    }
  }

  &--slid3 {
    background-image:
      image-set(url("../../img/program3_mob_1x.webp") 1x type("image/webp"),
        url("../../img/program3_mob_1x.jpg") 1x,
        url("../../img/program3_mob_2x.webp") 2x type("image/webp"),
        url("../../img/program3_mob_2x.jpg") 2x);

    @include media-desktop {
      background-image:
        image-set(url("../../img/program3_desktop_1x.webp") 1x type("image/webp"),
          url("../../img/program3_desktop_1x.jpg") 1x,
          url("../../img/program3_desktop_2x.webp") 2x type("image/webp"),
          url("../../img/program3_desktop_2x.jpg") 2x);
    }
  }

  &::before {
    @include overlay;
  }

  @include media-tablet {
    min-height: 420px;
    width: 324px;
    padding: 10px 20px;
  }

  @include media-desktop {
    width: 392px;
    padding: 17px 51px 17px 20px;
  }
}

.programs__title-card {
  box-sizing: border-box;
  position: relative;
  // z-index: 5;
  min-width: 146px;

  background-color: $color-white;
  padding: 18px 18px 6px 18px;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  flex-shrink: 0;
  flex-grow: 0;

  &::after {
    content: '';
    @include angle($width: 18px, $height: 18px, $bg-color: $color-white);
    position: absolute;
    bottom: 0;
    right: -16px;
    z-index: 10;
  }

  @include media-tablet {
    min-width: 173px;
    padding-bottom: 0;
    padding-top: 14px;
  }

  @include media-desktop {
    min-width: 212px;
    padding-bottom: 2px;
  }
}

.programs__card-wrapp {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  z-index: 5;

  padding: 12px 18px 15px 18px;
  background-color: $color-white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;


  @include media-desktop {
    min-height: 82px;
  }
}

.programs__button-mini {
  flex-shrink: 0;
}